/*Styling rules for body*/
body {
	margin: 0;
}

.left_col {
	position: absolute;
	height: 100%;
	width: 300px;
	background-color: #000;
	display: inline-block;
}

.section {
	display: none;
	padding-top: 15px;
	transition: opacity 0.5s;
}

/*.section.selected {
	display: block;
}*/

/*.home {
	display: none;
	padding-top: 15px;
}

.registration {
	display: none;
	padding-top: 15px;
}

.hotel {
	display: none;
	padding-top: 15px;
}

.committee {
	display: none;
	padding-top: 15px;	
}

.resources {
	display: none;
	padding-top: 15px;
}*/

.logo {
	position: relative;
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
}

.logo img {
	margin-bottom: 10px;
}

.logo .mun {
	font-family: 'Josefin Sans', sans-serif;
	color: rgba(255,255,255,1);
	font-size: 30px;
}

.logo .ill {
	font-family: 'Roboto Slab';
	color: rgb(208, 118, 65);
	font-size: 40px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.logo_text {
	text-align: center;
	color: #fff;
	font-size: 15pt;
	font-family: 'Raleway Dots', cursive;
}

.hr {
	margin-top: 15px;
	width: 100%;
	height: 1px;
	background-color: #333;
}

.menu {
	color: #fff;
	padding-top: 5px;
	padding-left: 30px;
	font-size: 18pt;
	letter-spacing: 1px;
	font-family: 'Josefin Sans', sans-serif;
}

.menu .hr {
	margin-left: -30px;
	margin-top: 5px;
	padding-right: 30px;
}

.last_col_heading {
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-size: 25px;
}

.ann_heading {
	padding-left: 15px;
	padding-top: 20px;
}

.importantnotices {
	height: 300px;
}

.onthispage {
	padding-left: 15px;
	padding-top: 20px;
}

.inpagelinks {
	width: 300px;
	font-family: 'Josefin Sans', sans-serif;
	color: rgba(255,255,255,0.5);
	font-size: 15pt;
}

.inpagelinks li {
	padding-top: 7px;
	transition: color 0.5s;
	cursor: pointer;
}

.inpagelinks li:hover {
	color: rgba(255,255,255,1);
}

.inpagelinks ul {
	margin-top: 10px;
}

.menu_item {
	padding: 10px 0;
	padding-top: 15px;
	cursor: pointer;
	transition: color 0.5s;
}

.menu_item:hover, .menu_item.selected {
	color: rgb(255,134,40);
}

.right_col {
	position: absolute;
	display: inline-block;
	width: 800px;
	height: 100%;
	background: url("../../resources/bg_pattern/sos/sos.png");
	overflow: scroll;
	border-right: 1px solid #000;
	margin-left: 300px;
}

.right_col img.backdrop {
	position: fixed;
	z-index: -1;
	bottom: 0;
}

.last_col {
	position: absolute;
	display: inline-block;
	width: 350px;
	height: 100%;
	background-color: #123456;
	margin-left: 1100px;
}


.last_col .hr {
	height: 2px;
	background-color: #fff;
	width: 100%;
}


.homeheading {
	font-family: 'Parisienne', cursive;
	text-align: right;
	padding-right: 25px;
}


.regheading {
	font-family: 'Parisienne', cursive;
	font-size: 30px;
	text-align: right;
	padding-right: 25px;	
	margin-bottom: 30px;
}


.heading {
	font-family: 'Parisienne', cursive;
	font-size: 30px;
	text-align: right;
	padding-right: 25px;	
	margin-bottom: 30px;
	margin-top: 5px;
	/*background-color: rgba(255,255,255,0.5)	*/
}

.home .heading {
	font-size: 20px;
	padding-right: 50px;
	margin-bottom: 2px;
}

.home .secgen {
	font-size: 30px;
	margin-top: -10px;	
}

.address {
	padding: 5px 10px;
}

.registration .letter table {
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	padding-top: 0;
	border: 1px solid #123456;
	margin-bottom: 15px;
}

.hotel .letter table {
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	padding-top: 0;
	border: 0;
	margin-bottom: 15px;
}

.contact .letter table {
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	padding-top: 0;
	border: 0;
	margin-bottom: 15px;
}

.contact_table input[type="text"] {
	border: 1px solid #ccc;
	box-shadow: none;
	padding: 5px;
	font-family: 'Quattrocento', serif;
}

.itrow {
	font-style: italic;
}

.registration .letter table th {
	border-bottom: 1px solid #123456;
	vertical-align: middle;
}

.registration .letter .reg_table {
	border: 0;
}

.regreg {
	border-top: 1px solid #123456;
}

.registration .table td, th {
	padding: 5px;
}

.letter ol li {
	padding-bottom: 10px;
}

.letter {
	padding-left: 15px;
	font-family: 'Quattrocento', serif;
	margin-top: -25px;
	width: 700px;
	/*background-color: rgba(255,255,255,0.5);*/
}

.letter_beginning {
	font-size: 18px;
}

.letter_para {
	margin-top: 10px;
	width: 650px;
}

.letter_ending {
	padding-top: 15px;
}

.letter_ending .gaby {
	font-family: 'Parisienne', cursive;
	font-size: 25px;
}

.letter_ending .post {
	font-weight: bold;
}

.btn {
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
	text-align: center;
	width: 150px;
	padding: 15px;
	color: #fff;
	font-family: 'Quattrocento', serif;
	letter-spacing: 2;
	background-color: #123456;
	margin-bottom: 50px;
}

.btn:hover {
	border: 2px solid #fff;
}

.reg_table input[type="text"] {
	border: 1px solid #ccc;
	box-shadow: none;
	padding: 5px;
	font-family: 'Quattrocento', serif;
}

.reg_table td {
	margin-top: 4px;
	margin-bottom: 4px;
}

.right_col img.hotel_logo {
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	width: 150px;
	height: inherit;
}

.committee .letter ul li {
	padding: 5px;
}

.com_name {
	text-decoration: underline;
}
