.heading
	| United Nations General Assembly
.letter
	ul
		li.com_name
			| GA I - Disarmament and International Security Committee (DISEC)
		ul
			li
				| On Curbing the Illicit Trade of Small Arms and Light Weapons
			li
				| On the Use of Drone Aircraft in Combat
		li.com_name
			| GA II - Economic and Financial Committee (ECOFIN)
		ul
			li
				| On Reforming Economies in the Wake of Political
			li
				| On Developing Eco-tourism
		li.com_name
			| GA III- Social, Humanitarian and Cultural Affairs Committee (SOCHUM)
		ul
			li
				| On the Rights of Lesbian Gay Bisexual and Transgender Individuals
			li
				| On Government Control and Surveillance of Communication and Media
		li.com_name
			| GA IV- Special Political and Decolonization Committee (SPECPOL)
		ul
			li
				| On Kurdish Autonomy
			li
				| On Neo-colonialism in Africa
.heading
	| Simulations Committee
.letter
	| Coming soon
.heading
	| Specialized Committees
.letter
	ul
		li
			| United Nations Security Council (UNSC)
		li
			| International Criminal Court (ICC)
		li
			| International Press Delegation (IPD)
img.backdrop(src="../../resources/images/committee.png", width="800px", height="460px")