//- CSS includes
link(rel="stylesheet", href="styles/main.css")
link(href='http://fonts.googleapis.com/css?family=Parisienne', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Quattrocento', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:300', rel='stylesheet', type='text/css')

//- Client-side Javascript
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
script(type='text/javascript', src="js/main.js")

title
	| MUNI 2014