include header
body
	.left_col
		.logo
			//img(src="../../resources/images/title.png", height="100px", width="100px")
			.mun
				| Model United Nations
			.ill
				| Illinois
		.hr
		.menu
			.menu_item.selected(section = ".home") Home
			.hr
			.menu_item(section = ".registration") Registration
			.hr
			.menu_item(section = ".hotel") Hotel
			.hr
			.menu_item(section = '.committee') Committees
			.hr
			.menu_item(section = '.resources') Resources
			.hr
			//- .menu_item(section = '.staff') Staff
			//- .hr
			.menu_item(section = '.schedule') Schedule
			.hr
			.menu_item(section = '.contact') Contact Us
			.hr
	.right_col
		.home.section.selected
			include home_partial
		.registration.section
			include registration
		.hotel.section
			include hotel
		.committee.section
			include committee
		.resources.section
			include resources
		//- .staff.section
		//- 	include staff
		.schedule.section
			include schedule
		.contact.section
			include contact
	.last_col
		.ann_heading.last_col_heading Important Notices
		.hr
		.importantnotices
		//- .onthispage.last_col_heading On this page
		//- .hr
		//- .inpagelinks
			ul 
				li Letter from the Secretary-General
				li Keynote Speaker
