.heading.homeheading.firsthomeheading
	| ... letter from the
.secgen.homeheading
	| Secretary-General
.letter
	.letter_beginning
		| Esteemed Advisors, Delegates, and Friends, 
	.letter_para
		| On behalf of the Model United Nations Organization at the University of Illinois, It is my honor to announce the nineteenth session of Model United Nations Illinois (MUNI). This year’s conference will be held on the beautiful campus of the University of Illinois at Urbana-Champaign on March 14-16, 2014. 
	.letter_para
		| MUNI is proud to be one of the flagship Model United Nations conferences of the Mid-West. It is our goal to provide delegates with an experience unlike any other, in which they will be able to exercise and improve critical thinking, public speaking, debating, and other skills in an exciting and educational atmosphere. This year’s conference has been designed to foster a forum in which delegates will be able to discuss the most pertaining issues of today and immerse themselves in the exiting world of conflict resolution and diplomacy.
	.letter_para
		| The nineteenth session of MUNI will be host to thirteen different committees ranging from General Assemblies to unique simulations committees, a Security Council, an International Criminal Court, and an International Press Delegation. Our Secretariat and staff are currently hard at work to ensure that these are of the highest quality. We have added more crises, more challenges, and more surprises throughout our committees this year in order to provide you with an exhilarating MUNI weekend!
	.letter_para
		| The Model United Nations Organization at the University of Illinois is working diligently in order to give you a conference experience unlike any other. Please do not hesitate to contact us at MUNI@uiucmodelun.org if you have any questions. We hope to see you in March for what promises to be one of the best MUNIs yet! 
	.letter_ending
		.gaby
			| Gabriela Chavez Barrientos
		.post
			| Secretary-General, MUNI XIX
img.backdrop(src="../../resources/images/quad2.png")