.heading
	| Hotel
.letter
	| MUNI has negotiated hotel accommodations at the 
	a(href="http://www.hawthorn.com/")
		| Hawthorn Suites by Wyndham.
.heading
	| Hotel contact information
.letter
	.address(style="text-align: center;")
		img.hotel_logo(src="../../resources/images/hotel_logo.gif")
		u
			| Hawthorn Suites<br>
		| 101 Trade Center Drive<br>
		| Champaign, IL 61820<br>
		| (217)-398-3400<br>
		a(href="http://goo.gl/maps/xcBZP", target="blank")
			| Directions

.heading
	| Room Details and Pricing
.letter
	| The hotel can be reached at the telephone number given above. When making a reservation, you must ask for the 
	u 
		| Model United Nations Room Block 
	| in order to receive the discounted rate. <br>
	| Note that our block of rooms is being held by the hotel until 
	u
		| March 5, 2013. 
	| If you are making a reservation after this date please contact us and we can try to work something out with the hotel. <br><br>
	| There are two types of rooms that can be reserved. Both these rooms can accomodate up to 4 people
	.address
		u
			| Double Size bedrooms
		| with two double beds <br>
		u 
			| King Size bedrooms
		| with one king sized bed <br>
	| These rooms can be reserved at a rate of
	u 
		| $104.90
	| per night
.heading
	| Making a reservation
.letter
	| The hotel can be reached at the telephone number given above. Please ask to be placed in the 
	u 
		| Model United Nations Room Block 
	| when making a reservation. The room block will be held by the hotel until all of the rooms are reserved or until 
	u
		| February 14, 2014. 
	| After this date, we cannot guarantee placement in the room block.
.heading
	| Important dates
.letter
	table
		tr
			td
				| The Model United Nations Room Block Deadline
			td
				| February 14, 2014
		tr
			td
				| Check In
			td
				| 3:00pm March 14, 2014
		tr
			td
				| Check Out 
			td 
				| 12:00pm March 16, 2014
//img.backdrop(src="../../resources/images/hotel.png", width="800px", height="530px")
