.heading
	| Background Guides
.letter
	| Background guides will be available starting on January 14th, 2014.
.heading
	| Position Papers
.letter
	| Position papers are required for all delegations part of a General Assembly committee. They must be submitted by 
	u
		| midnight on March 1, 2014.
.heading
	| Campus Map
.letter(style="text-align: center;")
	a(href="../../resources/campusmap.pdf")
		| Click here to download
img(src="../../resources/images/resources.png", width="800px", height="530px")