.heading
        | Background Guides
.letter
        | Background guides for the 
        u
            | General Assembly
        |  ,
        u
            | Simulation Committees
        |  and 
        u
            | Specialized Committees
        |  are now available
        br
        ul
            li 
                | General Assembly
                ul
                    li 
                        a(target="_blank", href="https://www.dropbox.com/s/na4u7afw1q7nhdl/DISEC.pdf", target="_blank")
                            | Disarmament and International Security
                    li 
                        a(target="_blank", href="../../resources/bg_guides/ga/ECOFIN.pdf", target="_blank")
                            | Economic and Financial Affairs
                    li 
                        a(target="_blank", href="../../resources/bg_guides/ga/SC.pdf", target="_blank")
                            | Security Council
                    li 
                        a(target="_blank", href="../../resources/bg_guides/ga/SOCHUM.pdf", target="_blank")
                            | Social, Humanitarian and Cultural Affairs
                    li 
                        a(target="_blank", href="https://www.dropbox.com/s/smbubb8pjduq36e/SPECPOLfixed.pdf", target="_blank")
                            | Special Political and Decolonization Committee
            li
                | Simulation Committees
                ul
                    li 
                        a(target="_blank", href="../../resources/bg_guides/sim_com/1884_berlin_conf.pdf", target="_blank")
                            | 1884 Berlin Conference
                    li 
                        a(target="_blank", href="https://www.dropbox.com/s/ut21v28dkcglzwl/Pilgrims.pdf", target="_blank")
                            | Pilgrims
                    li 
                        a(target="_blank", href="../../resources/bg_guides/sim_com/Prohibition.pdf", target="_blank")
                            | Prohibition : Age of the Bosses
                    li 
                        a(target="_blank", href="../../resources/bg_guides/sim_com/polish_underground.pdf", target="_blank")
                            | Polish Underground
                    li 
                        a(target="_blank", href="../../resources/bg_guides/sim_com/suez_canal.pdf", target="_blank")
                            | The UN Security Council of 1956 : Suez Canal Crisis
            li
                | Specialized Committees
                ul
                    li
                        a(target="_blank", href="https://www.dropbox.com/s/hht06nqohgqroge/WHO.pdf")
                            | World Health Organization (WHO)
                    li
                        a(target="_blank", href="https://www.dropbox.com/s/7wlmc8n8gsw07cm/ICC.pdf")
                            | International Crisis Committee


.heading
        | Position Papers
.letter
        | Position papers are required for all delegations part of a General Assembly committee. They must be submitted by 
        u
                | midnight on March 1, 2014.
.heading
        | Campus Map
.letter(style="text-align: center;")
        a(href="../../resources/campusmap.pdf")
                | Click here to download
//img(src="../../resources/images/resources.png", width="800px", height="530px")
