.heading
	| Tentative Schedule
.letter
	table
		tr
			th.earlyreg(colspan="2")
				| Friday, March 14
		tr
			td 12:00 - 5:00 PM
			td Registration
		tr
			td 6:00 - 7:00 PM
			td Dinner
		tr
			td 7:15 - 8:15 PM
			td Opening Ceremonies
		tr
			td 8:30 - 11:00 PM
			td Committee Session I
	br
	table
		tr
			th.earlyreg(colspan="2") Saturday, March 15
		tr
			td 10:30 - 11:00 AM
			td Campus Tour I
		tr
			td 11:30 - 12:00 PM
			td Campus Tour II
		tr
			td 12:15 - 2:30 PM
			td Committee Session II
		tr
			td 2:30 - 3:00 PM
			td Break
		tr
			td 3:00 - 5:00 PM
			td Committee Session III
		tr
			td 5:00 - 6:45 PM
			td Dinner
		tr
			td 7:00 - 10:00 PM
			td Committee Session IV
		tr
			td 10:30 - 1:00 AM
			td Delegate Dance
	br
	table
		tr
			th.earlyreg(colspan="2") Sunday, March 16
		tr
			td 9:30 - 11:45 AM
			td Committee Session V
		tr
			td 10:45 - 11:45 AM
			td Committee Session V (Late Night Crisis)
		tr
			td 12:00 - 1:00 PM
			td Closing Ceremonies
